body {
	/* --------------------------------------- */
	/*     system24 IRC compact mode tweaks    */
	/* --------------------------------------- */

	/* */
	--line-height: 1.5rem;
}

/* Group spacing 0px, actually set to 0px instead of 0.0625rem or whatever */
.group-spacing-0 [class*="groupStart_"] {
	--custom-group-spacing-start: 0px !important;
}
[class*="message_"] {
	--custom-message-margin-compact-indent: 0;
	--custom-message-meta-space: 1ch;
	border-radius: .5ch !important;
}
[class*="message_"] span {
	line-height: var(--line-height);
}
/* We can make it more compact */
[class*="message_"][class*="wrapper_"] {
	padding-bottom: 0px;
	padding-top: 0px;
}
[class*="compact_"] [class*="contents_"] {
	text-indent: calc((var(--custom-message-margin-compact-indent) - 2ch)*-1);
}
.visual-refresh [class*="message_"] {
	margin-left: 1rem;
}
[class*="compact_"] [class*="repliedMessage_"] {
	font-size: 100%;
	padding-inline-start: 0ch;
}
[class*="compact_"] [class*="messageSpine_"]:before,
[class*="compact_"] [class*="repliedMessageClickableSpine_"] {
	display: none;
}
[class*="replyBadge_"] {
	display: inline;
	padding-inline-end: 1ch;
}
[class*="replyBadge_"]::after {
	content: "-->";
	color: var(--header-secondary);
}
[class*="replyBadge_"] svg {
	display: none;
}
[class*="message_"][class*="mentioned_"]::before,
[class*="replying_"]::before,
[class*="ephemeral_"]::before {
	display: none;
}

/* Timestamps */
[class*="timestampInline_"] {
	-webkit-margin-start: 1ch;
	margin-inline-start: 1ch;
}
[class*="header_"] > [class*="timestamp_"] {
	display: inline;
	font-size: inherit !important;
	margin-right: 1ch !important;
}
[class*="header_"] > [class*="timestampVisibleOnHover_"] {
	opacity: 100%;
}

/* Bot tags */
[class*="botTag_"] {
	top: 0;
}
[class*="botTagCompact_"] {
	margin-inline-start: -1ch;
	margin-inline-end: -1ch;
}
[class*="header_"] [class*="botTagCompact_"] span {
	vertical-align: baseline;
	font-size: inherit;
}
[class*="header_"] [class*="botTagCompact_"] {
	display: inline;
	font-size: 1rem;
	vertical-align: baseline;
	padding: 0;
}
[class*="botTagCompact_"] > [class*="botTagVerified_"] {
	display: inline-block;
	vertical-align: text-top;
	width: 2ch;
	height: 2ch;
	margin-inline-start: 0;
}
[class*="rem_"][class*="botTagCompact_"] {
	padding: 0 .5ch;
	margin-top: 0;
}
[class*="repliedMessage_"] > [class*="botTagCompact_"] {
	margin-inline-start: 0ch;
	margin-inline-end: 1ch;
}

/* Usernames */
[id*="message-username-"] > [class*="username"],
[class*="header_"] [class*="headerText_"] {
	font-family: var(--font); /* force theme font over nitro custom username fonts */
	letter-spacing: inherit; /* Ignore nitro username fonts letter spacing */
	-webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
	color: var(--accent-3);
}
[class*="repliedMessage_"] [class*="username_"] {
	font-family: var(--font);
	color: var(--text-default) !important;
}

/* Username Brackets & cute emphasis formatting */
[class*="contents_"]:has(em:not(:empty):only-child) [class*="timestamp_"]::after,
[class*="contents_"]:has(em + [class*="timestamp_"]) > h3 > [class*="timestamp_"]::after {
	content: " *";
	color: var(--text-muted);
}
[id*="message-content-"] > em:not(:empty):only-child,
[id*="message-content-"] > em:has(+ [class*="timestamp_"]) {
	font-weight: initial;
	color: var(--text-muted);
}
[class*="contents_"]:not(:has(em:not(:empty):only-child)) span > [class*="username"]::before,
[class*="contents_"]:not(:has(em + [class*="timestamp_"])) span > [class*="username"]::before,
[class*="repliedMessage_"] [class*="username_"]::before {
	content: "[";
	color: var(--text-default);
}
[class*="contents_"]:not(:has(em:not(:empty):only-child)) span > [class*="username"]::after,
[class*="contents_"]:not(:has(em + [class*="timestamp_"])) span > [class*="username"]::after,
[class*="repliedMessage_"] [class*="username_"]::after {
	content: "]";
	color: var(--text-default);
}
[class*="convenienceGlowGradient_"]::after /* what the hell even is this */ {
	background: unset;
	inset: unset;
	position: unset;
	-webkit-text-fill-color: unset;
	filter: unset;
	opacity: unset;
	text-indent: unset;
	transition: unset;
	z-index: unset;
}

/* New member badge */
[class*="headerText_"] > span > [class*="newMemberBadge_"] {
	margin-right: -.5ch;
	margin-inline-start: 0;
	width: 2ch;
	height: 2ch;
}
[class*="headerText_"] > span > [class*="newMemberBadge_"] > svg {
	width: 100%;
	height: 100%;
}