body {
	/* --------------------------------------- */
	/*     system24 IRC compact mode tweaks    */
	/* --------------------------------------- */

	/* */
	--line-height: 1.5rem;
}

/* Group spacing 0px, actually set to 0px instead of 0.0625rem or whatever */
.group-spacing-0 .groupStart__5126c {
	--custom-group-spacing-start: 0px !important;
}
.message__5126c {
	--custom-message-margin-compact-indent: 0;
	--custom-message-meta-space: 1ch;
	border-radius: .5ch !important;
}
.message__5126c span {
	line-height: var(--line-height);
}
/* We can make it more compact */
.message__5126c.wrapper_c19a55 {
	padding-bottom: 0px;
	padding-top: 0px;
}
.compact_c19a55 .contents_c19a55 {
	text-indent: calc((var(--custom-message-margin-compact-indent) - 2ch)*-1);
}
.visual-refresh .message__5126c {
	margin-left: 1rem;
}
.compact_c19a55 .repliedMessage_c19a55  {
	font-size: 100%;
	padding-inline-start: 0ch;
}
.compact_c19a55 .messageSpine_c19a55:before,
.compact_c19a55 .repliedMessageClickableSpine_c19a55 {
	display: none;
}
.replyBadge_c19a55 {
	display: inline;
	padding-inline-end: 1ch;
}
.replyBadge_c19a55::after {
	content: "-->";
	color: var(--header-secondary);
}
.replyBadge_c19a55 svg {
	display: none;
}
.message__5126c.mentioned__5126c::before,
[class*="replying_"]::before,
[class*="ephemeral_"]::before {
	display: none;
}

/* Timestamps */
[class*="timestampInline_"] {
	-webkit-margin-start: 1ch;
	margin-inline-start: 1ch;
}
.header_c19a55 > .timestamp_c19a55 {
	display: inline;
	font-size: inherit !important;
	margin-right: 1ch !important;
}
.header_c19a55 > .timestampVisibleOnHover_c19a55 {
	opacity: 100%;
}

/* Bot tags */
.botTag__82f07  {
	top: 0;
}
.botTagCompact_c19a55  {
	margin-inline-start: -1ch;
	margin-inline-end: -1ch;
}
.header_c19a55 .botTagCompact_c19a55  span {
	vertical-align: baseline;
	font-size: inherit;
}
.header_c19a55 .botTagCompact_c19a55  {
	display: inline;
	font-size: 1rem;
	vertical-align: baseline;
	padding: 0;
}
.botTagCompact_c19a55  > .botTagVerified__82f07 {
	display: inline-block;
	vertical-align: text-top;
	width: 2ch;
	height: 2ch;
	margin-inline-start: 0;
}
.rem__82f07.botTagCompact_c19a55  {
	padding: 0 .5ch;
	margin-top: 0;
}
.repliedMessage_c19a55  > .botTagCompact_c19a55  {
	margin-inline-start: 0ch;
	margin-inline-end: 1ch;
}

/* Usernames */
[id*="message-username-"] > .username_c19a55,
.header_c19a55 .headerText_c19a55 {
	font-family: var(--font); /* force theme font over nitro custom username fonts */
	letter-spacing: inherit; /* Ignore nitro username fonts letter spacing */
	-webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
	color: var(--accent-3);
}
.repliedMessage_c19a55 .username_c19a55 {
	font-family: var(--font);
	color: var(--text-default) !important;
}

/* Username Brackets & cute emphasis formatting */
.contents_c19a55:has(em:not(:empty):only-child) .timestamp_c19a55::after,
.contents_c19a55:has(em + .timestamp_c19a55) > h3 > .timestamp_c19a55::after {
	content: " *";
	color: var(--text-muted);
}
[id*="message-content-"] > em:not(:empty):only-child,
[id*="message-content-"] > em:has(+ .timestamp_c19a55) {
	font-weight: initial;
	color: var(--text-muted);
}
.contents_c19a55:not(:has(em:not(:empty):only-child)) span > .username_c19a55::before,
.contents_c19a55:not(:has(em + .timestamp_c19a55)) span > .username_c19a55::before,
.repliedMessage_c19a55 .username_c19a55::before {
	content: "[";
	color: var(--text-default);
}
.contents_c19a55:not(:has(em:not(:empty):only-child)) span > .username_c19a55::after,
.contents_c19a55:not(:has(em + .timestamp_c19a55)) span > .username_c19a55::after,
.repliedMessage_c19a55 .username_c19a55::after {
	content: "]";
	color: var(--text-default);
}
.convenienceGlowGradient_e5de78::after /* what the hell even is this */ {
	background: unset;
	inset: unset;
	position: unset;
	-webkit-text-fill-color: unset;
	filter: unset;
	opacity: unset;
	text-indent: unset;
	transition: unset;
	z-index: unset;
}

/* New member badge */
.headerText_c19a55 > span > .newMemberBadge_f80704 {
	margin-right: -.5ch;
	margin-inline-start: 0;
	width: 2ch;
	height: 2ch;
}
.headerText_c19a55 > span > .newMemberBadge_f80704 > svg {
	width: 100%;
	height: 100%;
}