body {
	/* --------------------------------------- */
	/*     system24 IRC compact mode tweaks    */
	/* --------------------------------------- */

	/* */
	--line-height: 1.5rem;
}

/* Group spacing 0px, actually set to 0px instead of 0.0625rem or whatever */
.group-spacing-0 ._5126c0cd07f243a0-groupStart {
	--custom-group-spacing-start: 0px !important;
}
._5126c0cd07f243a0-message {
	--custom-message-margin-compact-indent: 0;
	--custom-message-meta-space: 1ch;
	border-radius: .5ch !important;
}
._5126c0cd07f243a0-message span {
	line-height: var(--line-height);
}
/* We can make it more compact */
._5126c0cd07f243a0-message.c19a557985eb7793-wrapper {
	padding-bottom: 0px;
	padding-top: 0px;
}
.c19a557985eb7793-compact .c19a557985eb7793-contents {
	text-indent: calc((var(--custom-message-margin-compact-indent) - 2ch)*-1);
}
.visual-refresh ._5126c0cd07f243a0-message {
	margin-left: 1rem;
}
.c19a557985eb7793-compact .c19a557985eb7793-messageSpine:before,
.c19a557985eb7793-compact .c19a557985eb7793-repliedMessageClickableSpine {
	display: none;
}
._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned::before,
[class*="replying_"]::before,
[class*="ephemeral_"]::before {
	display: none;
}

/* Bot tags */
._82f0793afa59e5dc-botTag  {
	top: 0;
}
.c19a557985eb7793-botTagCompact  {
	margin-inline-start: -1ch;
	margin-inline-end: -1ch;
}
.c19a557985eb7793-header .c19a557985eb7793-botTagCompact  span {
	vertical-align: baseline;
	font-size: inherit;
}
.c19a557985eb7793-header .c19a557985eb7793-botTagCompact  {
	display: inline;
	font-size: 1rem;
	vertical-align: baseline;
	padding: 0;
}
.c19a557985eb7793-botTagCompact  > ._82f0793afa59e5dc-botTagVerified {
	display: inline-block;
	vertical-align: text-top;
	width: 2ch;
	height: 2ch;
	margin-inline-start: 0;
}
._82f0793afa59e5dc-rem.c19a557985eb7793-botTagCompact  {
	padding: 0 .5ch;
	margin-top: 0;
}
.c19a557985eb7793-repliedMessage  > .c19a557985eb7793-botTagCompact  {
	margin-inline-start: 0ch;
	margin-inline-end: 1ch;
}

/* Username Brackets & cute emphasis formatting */
.c19a557985eb7793-contents:has(em:not(:empty):only-child) .c19a557985eb7793-timestamp::after,
.c19a557985eb7793-contents:has(em + .c19a557985eb7793-timestamp) > h3 > .c19a557985eb7793-timestamp::after {
	content: " *";
	color: var(--text-muted);
}
[id*="message-content-"] > em:not(:empty):only-child,
[id*="message-content-"] > em:has(+ .c19a557985eb7793-timestamp) {
	font-weight: initial;
	color: var(--text-muted);
}
.e5de7811b2777bfa-convenienceGlowGradient::after /* what the hell even is this */ {
	background: unset;
	inset: unset;
	position: unset;
	-webkit-text-fill-color: unset;
	filter: unset;
	opacity: unset;
	text-indent: unset;
	transition: unset;
	z-index: unset;
}

/* --------------- Messages -------------- */

/* Timestamp */
.c19a557985eb7793-header > .c19a557985eb7793-timestamp {
	width: unset;
	font-size: inherit !important;
}
.c19a557985eb7793-header > .c19a557985eb7793-timestampVisibleOnHover {
	opacity: 100%;
}

/* Username */
.c19a557985eb7793-header .c19a557985eb7793-headerText {
	-webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
}
.c19a557985eb7793-headerText > .c19a557985eb7793-username {
	font-family: var(--font) !important; /* force theme font over nitro custom username fonts */
	letter-spacing: inherit; /* Ignore nitro username fonts letter spacing */
	line-height: var(--line-height);
}
.c19a557985eb7793-contents:not(:has(em:not(:empty):only-child)) span > .c19a557985eb7793-username::before,
.c19a557985eb7793-contents:not(:has(em + .c19a557985eb7793-timestamp)) span > .c19a557985eb7793-username::before {
	content: "[";
	color: var(--text-default);
}
.c19a557985eb7793-contents:not(:has(em:not(:empty):only-child)) span > .c19a557985eb7793-username::after,
.c19a557985eb7793-contents:not(:has(em + .c19a557985eb7793-timestamp)) span > .c19a557985eb7793-username::after {
	content: "]";
	color: var(--text-default);
}

/* --------------- Replies --------------- */

.c19a557985eb7793-compact > .c19a557985eb7793-repliedMessage  {
	font-size: 100%;
	padding-inline-start: 0ch;
	color: var(--text-muted);
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-repliedTextPreview:hover,
.c19a557985eb7793-repliedTextPreview.c19a557985eb7793-repliedMessageClickableSpineHovered {
	color: var(--header-secondary) !important;
}

/* Reply badge */
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-replyBadge {
	width: unset;
	margin: 0;
	background: transparent;
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-replyBadge::after {
	content: '--> ';
	color: var(--text-muted);
}
.c19a557985eb7793-replyBadge > svg {
	display: none;
}

/* Username */
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username {
	font-family: var(--font);
	line-height: var(--line-height);
	color: var(--text-muted) !important;
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username:hover {
	color: var(--header-secondary) !important;
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username::before {
	content: "[";
	color: var(--text-muted);
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username:hover::before {
	color: var(--header-secondary);
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username::after {
	content: "]";
	color: var(--text-muted);
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-username:hover::after {
	color: var(--header-secondary);
}

/* Trailing icon */
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-repliedTextContentTrailingIcon {
	vertical-align: top;
	margin: 0;
	margin-inline-start: 0;
	width: 2ch;
	height: 2ch;
}
.c19a557985eb7793-repliedMessage > .c19a557985eb7793-repliedTextContentTrailingIcon > svg {
	vertical-align: top;
	margin: 0;
	margin-inline-start: 0;
	width: 2ch;
	height: 2ch;
}

/* ------------- Nonspecific ------------- */

/* Role icon & new member badge */
.c19a557985eb7793-headerText img.c19a557985eb7793-roleIcon,
.c19a557985eb7793-headerText > span > .f80704ca4ba27cf7-newMemberBadge {
	vertical-align: top;
	margin: 0;
	margin-inline-start: 0;
	width: 2ch;
	height: 2ch;
}
.c19a557985eb7793-headerText > span > .f80704ca4ba27cf7-newMemberBadge > svg {
	width: 100%;
	height: 100%;
}

/* Emoji */
._75abce0dd8453367-emojiContainer {
	display: inline-flex;
	width: 2ch;
	height: 2ch;
	vertical-align: text-top;
}
.c19a557985eb7793-messageContent > ._75abce0dd8453367-emojiContainer > .emoji,
.c19a557985eb7793-messageContent > ._75abce0dd8453367-emojiContainer > .jumboable {
	width: 100%;
	height: 100%;
}